{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <title>{% block titulo %} .... {% endblock titulo %}</title>
</head>

<body>
    <div class="header__superior">
        <div class="logo">
            <a href="{% url 'inicio' %}">Nati familia</a>
        </div>

    </div>

    <div class="container__menu">
        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check">
                <i class="fas fa-bars icon__menu"></i>
            </label>
            <nav>
                <ul>
                    <li><a href="{% url 'inicio' %}" id="selected" ></a></li>
                    <li><a href="#">Videos</a>
                        <ul>
                            <li><a href="#">Configuracion de la polla</a></li>
                            <li><a href="#">Creando el Primer Socio</a></li>
                            <li><a href="#">Diferencia Personas y Socios</a></li>
                            <li><a href="#">Prestamos Faciles a 8,10,11 o 12 cuotas</a></li>
                            <li><a href="#">Prestamo Simple</a></li>
                            <li><a href="#">Reintegrar Socio Retirado</a></li>
                            <li><a href="#">Cambio de Consecutivo entre los Socios</a></li>
                            <li><a href="#">Recibo de Caja x Mensaje de Texto</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Precio</a></li>
                    <li><a href="#">Preguntas</a></li>
                    <li><a href="#">Contactos</a></li>
                    {% if logueo %}
                    {% if tiene_natillera %}
                    <li><a href="{% url 'listar' %}">Mis natilleras</a></li>
                    {% else %}
                    <li><a href="{% url 'crear_natillera' %}">Crear natillera</a></li>
                    
                    {% endif %}
                    <li><a href="#">{{ request.session.logueo.nombre }}</a>
                        <ul>
                            <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                            <li><a href="#">Cambio de contraseña</a></li>
                            <li><a href="#">Diferencia Personas y Socios</a></li>
                        </ul>
                    </li>
                        {% else %}
                    <li><a href="{% url 'iniciar' %}">Acceder</a></li>
                    <li><a href="{% url 'Registrarse' %}">Registro</a></li>
                    {% endif %}




                </ul>

            </nav>


        </div>
    </div>


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

 
        {% block contenedor %}


        {% endblock contenedor %}
   


    <script src="{% static 'app/js/libreria.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>