{% extends "app/base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock titulo %}


{% block contenedor %}
<div class="container">
<div class="cards">
  <div class="text">REPOLLA</div>
  <div class="numero">USA 400.00</div>
  <div class="img"><img src="{% static 'app/img/chicken.png' %}"></div>
</div>

<div class="cards">
  <div class="text">Socios con telegram</div>
  <div class="numero">5</div>
  <div class="img"><img src="{% static 'app/img/Telegram-logo.png' %}"></div>
</div>

<div class="cards">
  <div class="text">Socios con whatsapp</div>
  <div class="numero">71</div>
  <div class="img"><img src="{% static 'app/img/whatsap_logo.png' %}"></div>
</div>

<div class="cards">
  <div class="text">Socios</div>
  <div class="numero">33,643</div>
  <div class="img"><img src="{% static 'app/img/socios.png' %}"></div>
</div>

<div class="cards">
  <div class="text"></div>
  <div class="numero"></div>
  <div class="img"></div>
</div>

<div class="cards">
  <div class="text"></div>
  <div class="numero"></div>
  <div class="img"></div>
</div>

<div class="cards">
  <div class="text"></div>
  <div class="numero"></div>
  <div class="img"></div>
</div>

<div class="cards">
  <div class="text"></div>
  <div class="numero"></div>
  <div class="img"></div>
</div>

<div class="cards">
  <div class="text"></div>
  <div class="numero"></div>
  <div class="img"></div>
</div>

</div>
{% endblock contenedor %}


